In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/surveyres2023.csv' , index_col='ResponseId')
df_schema = pd.read_csv('data/surveyschema2023.csv')

In [3]:
pd.set_option('display.max_columns' , 84)
pd.set_option('display.max_rows' , 84)

In [4]:
pd.set_option('display.max_colwidth', None)
df_schema.loc[[15,16],'question']

15                             Including any education, how many years have you been coding in total?
16    NOT including education, how many years have you coded professionally (as a part of your work)?
Name: question, dtype: object

In [5]:
df_schema = pd.read_csv('data/surveyschema2023.csv' , index_col = 'qname' )

In [6]:
df_schema.drop(["S0","S1","S2","S3","S4","S5","S6","S7","Q120","Q310"] , inplace = True)

In [7]:
df_schema = df_schema.drop(columns=['type', 'selector' , 'qid' , 'force_resp'])

In [8]:
df_schema.head(5)

                                                                                                                                        question
qname
MetaInfo                                                                                                                       Browser Meta Info
MainBranch  Which of the following options best describes you today? For the purpose of this survey, a developer is "someone who writes code". *
Age                                                                                                                          What is your age? *
Employment                                          Which of the following best describes your current employment status? Select all that apply.
RemoteWork                                                                                     Which best describes your current work situation?

In [9]:
#df['Country'] = df['Country'].apply(lambda x:'USA' if x=='United States of America' else 'Iran' if x=='Iran, Islamic Republic of...' else x )
#esier way:
df['Country'] = df['Country'].replace({'United States of America':'USA' ,'Iran, Islamic Republic of...': 'Iran'})
df['Country']

ResponseId
1                NaN
2                USA
3                USA
4                USA
5        Philippines
            ...
89180         Brazil
89181        Romania
89182         Israel
89183    Switzerland
89184           Iran
Name: Country, Length: 89184, dtype: object

In [10]:
filt = ((df['CompTotal']>96000) & (df['Country']=='USA') & (df['LanguageHaveWorkedWith'].str.contains('Python' , na=False)))
df.loc[filt,['CompTotal','LanguageHaveWorkedWith','Country']]

,CompTotal,LanguageHaveWorkedWith,Country
ResponseId,,,
2,285000.0,HTML/CSS;JavaScript;Python,USA
14,150000.0,C;C++;Python;Rust,USA
111,145000.0,HTML/CSS;JavaScript;Python;TypeScript,USA
122,200990.0,Go;HTML/CSS;JavaScript;PowerShell;Python;Rust,USA
138,150000.0,Python;R;SQL,USA
...,...,...,...
89079,150000.0,C;C++;Go;HTML/CSS;Java;JavaScript;MATLAB;Python;Rust;SQL;TypeScript,USA
89087,182333.0,Bash/Shell (all shells);HTML/CSS;JavaScript;Python;SQL;TypeScript,USA
89113,187000.0,C#;HTML/CSS;JavaScript;Python;Ruby;TypeScript,USA
89114,200000.0,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaScript;Objective-C;PHP;PowerShell;Python;SQL;TypeScript,USA
89140,215000.0,Bash/Shell (all shells);C++;JavaScript;Python,USA

In [11]:
#How to reorder columns:
#df['column1'],df['column2'] = df['column2'],df['column1']

In [12]:
'''There are couple of columns that aren't necessary that named knowledge_1,2 and ... and their existence just make our
dataframe nasty so let's create a function that will erase them for us.'''

def erase(*args):
    for arg in args:      
        for col in df.columns:
            if arg in col:
                df.drop(col, axis=1 , inplace = True)

In [13]:
#Before erasing
df.shape

(89184, 83)

In [14]:
erase('Knowledge_','Frequency_')
df.shape
#After erasing

(89184, 72)

In [15]:
del df['Q120']

In [16]:
df.loc[df['Country'].isin(['Iran','USA']),'Country'].value_counts()

Country
USA     18647
Iran      577
Name: count, dtype: int64

In [17]:
df['Country'].info()

<class 'pandas.core.series.Series'>
Index: 89184 entries, 1 to 89184
Series name: Country
Non-Null Count  Dtype
--------------  -----
87973 non-null  object
dtypes: object(1)
memory usage: 1.4+ MB